@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    transition: all .5s;
}

body {
    background: hsl(257, 40%, 49%);
    background-image: url(../img/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.wrapper-container {
    margin: 0 2% 0 10%;
}

.wrapper-content {

    min-height: calc(100vh - 120px);

}

.wrapper-container .main-content {
    display: flex;
    align-items: center;
}

.header-content {
    padding: 60px 0;
}

.main-container .description {
    max-width: 520px;
    margin-left: 64px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.main-container .description h1 {
    font-weight: bold;
    font-size: 42px;
    padding-bottom: 20px;
    line-height: 1.4;
}

.main-container .description p {
    padding-bottom: 20px;
    line-height: 1.4;
    font-size: 18px;
}

.main-container .description .register {
    padding-bottom: 20px;
}

.main-container .description .register a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: #674baf;

    border-radius: 60px;
    padding: 15px 65px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.main-container .description .register a:hover {
    transform: translateY(5px)
}

.footer-container {
    margin: 0 30px;
    display: block;
    height: 80px;
}

.footer-container .footer-content{
    display: block;
    height: 100%;
}

.footer-container .footer-content .footer-attribution{
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-container .footer-attribution .ref{
    font-family: 'Open Sans', sans-serif;
    flex-grow: 1;
    color: whitesmoke;
}

.footer-container .footer-attribution .ref a{
    text-decoration: none;  
    color: #061731;
}

.footer-container .footer-attribution .ref a:hover{
    text-decoration: underline;  
}

.footer-container .footer-attribution .ref a:active{
    color: rgb(85, 26, 139);
}

.footer-container .footer-attribution .ref p{
    padding: 2px 0
}


.footer-container .footer-attribution .icon{
    font-family: 'Open Sans', sans-serif;
    padding: 2px 0;

    text-align: center;
}

.footer-container .footer-attribution .icon a{
    font-size: 26px;

    display: inline-block;
    color: whitesmoke;

    border: 2px solid whitesmoke;

    height: 40px;
    width: 40px;

    line-height: 40px;

    margin: 0 20px;

    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.footer-container .footer-attribution .icon a:hover{
    transform: translateY(10px);
}

.footer-container .footer-attribution .icon i{
    color: whitesmoke;  
}

/*
* Extra small   <576px
* Small         ≥576px
* Medium        ≥768px
* Large         ≥992px
* Extra large   ≥1200px
*/

@media screen and (max-width: 1500px){
    .wrapper-container {
        margin: 0 5% 0 5%;
    }
}

@media screen and (max-width: 1150px){

    .main-container .description {
        max-width: 100%;
        margin-left: 0px; 
        margin-top: 30px;

    }

    .wrapper-container .main-content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        flex-flow: row wrap;

    }
    
}

@media screen and (max-width: 750px){
    .main-container .img-design img {
        width: 100%;
    }   

    .main-container .description h1 {
        font-size: 32px;
    }

    .footer-container {
        margin: 0 0px;
        height: auto;
    }

    .footer-container .footer-content .footer-attribution {
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer-container .footer-content .footer-attribution .icon {
        width: 100%;
        padding-bottom: 30px;
    }

    .footer-container .footer-content .footer-attribution .ref {
        width: 100%;
    }

    .footer-container .footer-attribution .icon a{
        font-size: 100%;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    body {
        background-image: url(../img/images/bg-mobile.svg);
        background-size: 100%;
        background-position: top;
    }

}



